*,
*::after,
*::before{
    box-sizing: border-box;
}

:root {
    --profile-image: url(../img/profile-image.jpg);
    --sidebar-color: #252a2f;
    --header-color: #f2f2ee;
    --button-color: var(--text-color);
    --main-color: #f2f2ee;
    --card-color: var(--text-color);
    --text-color: #e7aea7;
    --text-color-header: var(var(--sidebar-color))
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: medium;
}

.container {
    display: grid;
    grid-template: 0.1fr 1fr/ 1fr 6fr;
}

/* Sidebar Styles */

.sidebar {
    background-color: var(--sidebar-color);
    grid-column-start: 1;
    grid-row: 1 /  3;
    place-content: start;
    padding: 20px;
    min-width: 18rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar > * {
    position: fixed;
}

.sidebar li {
    display: flex;
    place-self: start;
}

.sidebar li:hover {
    text-shadow: 0px 0px 10px var(--text-color);
    transition: 0.2s;;
    transform: scale(1.02);
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin-bottom: 2rem;
}

.logo {
    width: 15%;
    margin-right: 0.5rem;
    background-color: none;
    filter: invert(79%) sepia(6%) saturate(2000%) hue-rotate(317deg) brightness(97%) contrast(86%);
}

.logo-container h1 {
    font-size: 2rem;
    color: var(--text-color);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.sidebar > .wrapper > .menu-wrapper > ul > div > li {
    font-size: 1.4rem;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    color: none;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.menu-item li {
    display: flex;
    align-self: center;
}

.menu-top, .menu-bottom {
    padding-left: 0;;
}

.menu-bottom {
    margin-bottom: 3rem;
}

.menu-top {
    line-height: 2rem;
}

.icon {
    width: 2rem;
    background-color: none;
    filter: invert(79%) sepia(6%) saturate(2000%) hue-rotate(317deg) brightness(97%) contrast(86%);
}

/* Header Styles */

.header {
    background-color: var(--header-color);
    display: grid;
    grid-column-start: 2;
    grid-row: 1 / 2;
    grid-template: 0.2fr 1fr / 3fr 1fr;
    box-shadow: 5px 0px 5px;
    z-index: 1;
}

.search {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 15px;
}

.search-bar {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
    width: 100%;
    height: 2.3rem;
    background: white;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }

.greeting {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: start;
    align-self: center;
    margin: 15px;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

.profile-image-greet {
    background-image: var(--profile-image);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    place-self: center;
}

.user-greeting {
    margin: 10px;
}

.greeting-text {
    font-size: 1.5rem;
    color: var(--text-color-header);
}

.username-greeting {
    font-size: 2rem;
    color: var(--text-color-header);
}

.user {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-self: flex-end;
    align-self: start;
    place-items: center;
    margin: 15px;
    gap: 30px;
}

.username {
    font-size: 1.2rem;
    color: var(--text-color-header);
}

.username:hover {
    transition: 0.1s;
    transform: scale(1.02);
}

.notification-icon:hover {
    transition: 0.1s;
    transform: scale(1.05);
    cursor: pointer;
}

.profile-image {
    background-image: var(--profile-image);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
}

.profile-image:hover {
    box-shadow: 0px 0px 10px var(--card-color);
    transition: 0.1s;
    transform: scale(1.02);
    cursor: pointer;
}

#profile-img {
    border-radius: 100%;
    border: solid var(--sidebar-color) 2px;
}

.share-buttons {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    place-self: flex-end;
    place-items: center;
    margin: 15px 15px 30px;
    gap: 30px;
}

.share-buttons > button {
    width: 7rem;
    height: 3rem;
    background-color: var(--button-color);
    color: var(--text-color-header);
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1rem;
    box-shadow: 1px 1px 2px;
}

.share-buttons > button:hover {
    background-color: var(--button-color);
    transition: 0.1s;
    transform: scale(1.02);
    cursor: pointer;
}

.notification-icon{
    width: 2.2rem;
    background-color: none;
    filter: invert(15%) sepia(8%) saturate(869%) hue-rotate(169deg) brightness(95%) contrast(95%);
}

/* Main Styles */

.main {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row-start: 2;
    grid-template-rows: 1fr;
    grid-auto-rows: clamp(200px, 50%, 1000px);
}

.info {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem 1rem;
    margin: 0 2rem;
    grid-row: 1 / 3;
}

.info, .trending {
    margin-bottom: 50px;
}

.info-section-title {
    color: var(--text-color-header);
    grid-column: 1 / -1;
    margin-bottom: -1rem;
}

.info-card {
    background-color: var(--card-color);
    color: var(--text-color-header);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.info-card:hover {
    transition: 0.2s;
    transform: scale(1.01);
}

.info-card >.description {
    font-size: 120%;
    padding: 1rem 1rem 0;
}

.info-card >.info-title {
    font-size: 160%;
    padding: 0 1rem;
}

.right-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 0fr 1fr;
    grid-row: 1 / 3;
}

.announcements {
    background-color: var(--card-color);
    color: var(--text-color-header);
    padding: 0rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px black;
    margin-right: 2rem;
}

.announcement-card:hover {
    transition: 0.2s;;
    transform: scale(1.01);
}

.announcement-section-title {
    align-self: flex-end;
    color: var(--text-color-header);
}

.announcement-card >.announcement-title {
    font-size: 160%;
}

.trending {
    background-color: var(--card-color);
    color: var(--text-color-header);
    padding: 0rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px black;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.trending-card:hover {
    transition: 0.2s;;
    transform: scale(1.01);
}

.trending-section-title {
    align-self: flex-end;
}

.trending-profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid var(--sidebar-color) 2px;
}

.trending-title {
    margin-bottom: 0;
}

.trending-card {
    display: flex;
    place-items: center;
    gap: 20px;
    font-size: 1.4rem;
}

.announcement-border {
    background-color: var(--sidebar-color);
    width: 100%;
    height: 1px;
}

.info-section-title, .announcement-section-title, .trending-section-title {
    margin-top: 2rem;
}



